<!DOCTYPE html>
<html>
<head>
    <title>contact</title>
       <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        header {
            background-color: #333;
            padding: 15px 0;
            text-align: center;
        }

        header a {
            color: white;
            text-decoration: none;
            margin: 0 20px;
            font-size: 18px;
            transition: color 0.3s ease;
        }

        header a:hover {
            color: #ffcc00;
        }
    </style>
</head>
<body>
    <header>
    <a href="{% url 'pagesapp:home' %}">Home</a>
    <a href="{% url 'pagesapp:contact' %}">Contact</a>
    <a href="{% url 'pagesapp:about' %}">About</a>
    </header>
    <h1>Welcome to contact Page</h1>
</body>
</html>
