<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <title>About teacher</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #e8f0fe;
            padding: 40px;
            text-align: center;
        }
        .card {
            background: white;
            padding: 20px;
            border-radius: 10px;
            display: inline-block;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            color: #333;
        }
        p {
            font-size: 18px;
            color: #555;
        }
    </style>
</head>
<body>
    <div class="card">
        <h1>Hello, this page is about teacher Sanjarbek</h1>
        <p>Software Engineer at zk.uz .</p>
        <p> Mentor at najottalim.uz</p>
    </div>
</body>
</html>
